{% extends 'base.html.twig' %}
{% block title %}
    Convention Le Conservateur 2022
{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main class="main-step step-form step-form2">
        <nav class="form-nav">
            <a href="#" class="inactive"><span>1</span>Informations personnelles</a>
            <a href="#" class="current"><span>2</span>Hébergement & transferts</a>
        </nav>
        <section class="content">
            <p class="subtitle">Etape 2/2</p>
            <h1>Hébergement & transferts</h1>
            {% if app.user.hotelName == 2 %}
                {% trans %} form_part_2.hebergement.inter {% endtrans %}
            {% else %}
                {% trans %} form_part_2.hebergement.westin {% endtrans %}
            {% endif %}
            {{ form_start(form) }}
            {% if app.user.hotel %}
                <h4>Hébergement</h4>
                {% if app.user.hotelName == 2 %}
                    {% trans %} form_part_2.hebergement.inter {% endtrans %}
                {% endif %}
                {% if app.user.hotelName == 1 %}
                    {% trans %} form_part_2.hebergement.westin {% endtrans %}
                {% endif %}
            {% endif %}
            {{ form_row(form.hotel) }}
            {% if app.user.hotel %}
                <h4>Transferts</h4>
                <p>Vous avez la possibilité de réserver votre place sur les transferts proposés :</p>
                {% if app.user.hotelName == 1 %}
                    {{ form_row(form.transfertPleniereWestin) }}
                    {% if app.user.dinner %}
                        {{ form_row(form.transfertWestinDinner) }}
                        {{ form_row(form.transfertDinnerWestin) }}
                    {% endif %}
                {% endif %}

                {% if app.user.hotelName == 2 %}
                    {{ form_row(form.transfertPleniereInter) }}
                    {% if app.user.dinner %}
                        {{ form_row(form.transfertInterDinner) }}
                        {{ form_row(form.transfertDinnerInter) }}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if not app.user.hotel and app.user.dinner %}
                <h4>Taxi</h4>
                <p>{% trans %} form_part_2.transfert.taxi.default {% endtrans %}</p>
                {{ form_row(form.transfertTaxi) }}
                {{ form_row(form.taxiAdress) }}
            {% endif %}
            {% if app.user.dinner %}
                <h4>Dîner</h4>
                <p>Un dîner de gala est organisé à la Cité de l'architecture.</p>
                {{ form_row(form.dinner) }}
                {{ form_row(form.dietbool) }}
                {{ form_row(form.diet) }}
            {% endif %}
            <p class="text-right form-validation">
                {{ form_row(form.submit) }}
            </p>
            <p class="text-right">
                <small>Pour toute information, veuillez contacter notre équipe organisation <a
                            href="mailto:convention-organisation@convention-le-conservateur.fr" target="_blank">convention-organisation@convention-le-conservateur.fr</a></small>
            </p>
            {{ form_end(form) }}

        </section>
    </main>
{% endblock %}